<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">  <!--use :  "../static/css/output.css" : if browser is used-->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>

    <section id="content">Welcome to home page</section>
    
    <!--flowbite content-->


    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    <script>
        console.log("This is SCM application home page")
    </script>
</body>
</html>

<!-- <div class="bg-gray-200 w-1/2 p-4 flex flex-col justify-center items-center space-y-3 mx-auto mt-4"> <!-dark:bg-gray-900 : for dark theme->
        <h1 class="text-2xl font-bold" data-th-text="${name}">Welcome to home page</h1>
        <p class="text-gray-600">
            This is Abhishek, pursuing BE specialising in 
            computer science and engineering.
            Interested in technologies like Java and Advance Java.
            Building scalable backend systems.
            <p class="text-xl text-gray-700">
                Github: <span data-th-text="${github}"></span>
            </p>
            <p>
                LeetCode: <span data-th-text="${leetCode}"></span>
            </p>
        </p>

        <div>
            <button class="px-3 py-3 rounded bg-blue-700 text-white">
                Click Here
            </button>
        </div>
    </div> -->
    